# Ignore dataset files
*.csv
*.npy
*.pkl
*.txt
*.zip
# Ignore processed data
processed_data/
CICIDS2018-CSV/
# Ignore Python cache files
__pycache__/
*.pyc

# Ignore other temporary files
*.tmp
*.log
*.bak
.DS_Store
.vscode/
.idea/

file_not_dst_port/